<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wang.social.topic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.frame.base.BaseApplication"
        android:allowBackup="true"
        android:label="@string/topic_app_name"
        android:screenOrientation="portrait"
        android:theme="@style/common_AppTheme">

        <!-- Meta Data -->

        <meta-data
            android:name="com.wang.social.topic.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity android:name=".app.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".app.TestActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".app.TopicListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".mvp.ui.TopicDetailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.TopUserActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".mvp.ui.CommentActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".mvp.ui.SearchActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".mvp.ui.ReleaseTopicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity android:name=".mvp.ui.TemplateActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>