<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wang.social.moneytree">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.frame.base.BaseApplication"
        android:allowBackup="true">
        <activity android:name=".mvp.ui.GameListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".mvp.ui.GameRecordListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".mvp.ui.GameRoomActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".mvp.ui.MemberListActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
