<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wang.social.personal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--支付宝-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.frame.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/personal_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/common_AppTheme"
        tools:replace="android:label">

        <!-- Meta Data -->
        <meta-data
            android:name="com.wang.social.personal.app.GlobalConfiguration"
            android:value="ConfigModule" />
        <meta-data
            android:name="com.wang.social.personal.app.PersonalGlobalConfiguration"
            android:value="ConfigModule" />

        <receiver
            android:name="com.dongdongkeji.wangwangsocial.wxapi.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.dongdongkeji.wangwangsocial.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/common_AppDialogStyle" />

        <activity android:name="com.wang.social.personal.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mvp.ui.activity.MeDetailActivity" />
        <activity android:name=".mvp.ui.activity.MePhotoActivity" />
        <activity android:name=".mvp.ui.activity.OfficialPhotoActivity" />
        <activity android:name=".mvp.ui.activity.SettingActivity" />
        <activity android:name=".mvp.ui.activity.SettingMsgActivity" />
        <activity android:name=".mvp.ui.activity.FeedbackActivity" />
        <activity android:name=".mvp.ui.activity.AccountActivity" />
        <activity android:name=".mvp.ui.activity.AccountExchangeActivity" />
        <activity android:name=".mvp.ui.activity.AccountDepositActivity" />
        <activity android:name=".mvp.ui.activity.AccountRechargeActivity" />
        <activity android:name=".mvp.ui.activity.AccountDepositRecordActivity" />
        <activity android:name=".mvp.ui.activity.AccountDepositDetailActivity" />
        <activity android:name=".mvp.ui.activity.BlackListActivity" />
        <activity android:name=".mvp.ui.activity.AboutActivity" />
        <activity android:name=".mvp.ui.activity.QuestionActivity" />
        <activity android:name=".mvp.ui.activity.VersionHistoryActivity" />
        <activity android:name=".mvp.ui.activity.PrivacyActivity" />
        <activity android:name=".mvp.ui.activity.PrivacyShowListActivity" />
        <activity android:name=".mvp.ui.activity.LableActivity" />
        <activity android:name=".mvp.ui.activity.QrcodeActivity" />
        <activity android:name=".mvp.ui.activity.RepresentActivity" />
    </application>

</manifest>