<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wang.social.personal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.frame.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/personal_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/common_AppTheme">

        <!-- Meta Data -->
        <meta-data
            android:name="com.wang.social.personal.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity android:name="com.wang.social.personal.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mvp.ui.activity.MeDetailActivity" />
        <activity android:name=".mvp.ui.activity.SettingActivity" />
        <activity android:name=".mvp.ui.activity.SettingMsgActivity" />
        <activity android:name=".mvp.ui.activity.FeedbackActivity" />
        <activity android:name=".mvp.ui.activity.AccountActivity" />
        <activity android:name=".mvp.ui.activity.AccountDepositActivity" />
        <activity android:name=".mvp.ui.activity.AccountRechargeActivity" />
        <activity android:name=".mvp.ui.activity.AccountDepositRecordActivity" />
        <activity android:name=".mvp.ui.activity.AccountDepositDetailActivity" />
        <activity android:name=".mvp.ui.activity.BlackListActivity" />
        <activity android:name=".mvp.ui.activity.AboutActivity" />
        <activity android:name=".mvp.ui.activity.QuestionActivity" />
        <activity android:name=".mvp.ui.activity.VersionHistoryActivity" />
        <activity android:name=".mvp.ui.activity.PrivacyActivity" />
        <activity android:name=".mvp.ui.activity.PrivacyShowListActivity" />
        <activity android:name=".mvp.ui.activity.LableActivity" />
    </application>

</manifest>