<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wang.social.funshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.frame.base.BaseApplication"
        android:allowBackup="true">

        <meta-data
            android:name="com.wang.social.funshow.app.FunshowGlobalConfiguration"
            android:value="ConfigModule" />

        <activity android:name=".mvp.ui.activity.HotUserListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.ZanUserListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.AiteUserListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.FunshowDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.FunshowAddActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.LockActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.ui.activity.CameraActivity"
            android:theme="@style/common_AppTheme.NoTitleFullscreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.ui.activity.CameraPlayActivity"
            android:theme="@style/common_AppTheme.NoTitleFullscreen"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.ui.activity.TestActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>