<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wang.social.personal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:label="@string/personal_app_name"
        tools:replace="android:label"
        android:supportsRtl="true"
        android:theme="@style/common_AppTheme">

        <activity android:name=".mvp.ui.activity.MeDetailActivity" />
        <activity android:name=".mvp.ui.activity.MePhotoActivity" />
        <activity android:name=".mvp.ui.activity.SettingActivity" />
        <activity android:name=".mvp.ui.activity.SettingMsgActivity" />
        <activity android:name=".mvp.ui.activity.FeedbackActivity" />
        <activity android:name=".mvp.ui.activity.AccountActivity" />
        <activity android:name=".mvp.ui.activity.AccountDepositActivity" />
        <activity android:name=".mvp.ui.activity.AccountRechargeActivity" />
        <activity android:name=".mvp.ui.activity.AccountDepositRecordActivity" />
        <activity android:name=".mvp.ui.activity.AccountDepositDetailActivity" />
        <activity android:name=".mvp.ui.activity.BlackListActivity" />
        <activity android:name=".mvp.ui.activity.AboutActivity" />
        <activity android:name=".mvp.ui.activity.QuestionActivity" />
        <activity android:name=".mvp.ui.activity.VersionHistoryActivity" />
        <activity android:name=".mvp.ui.activity.PrivacyActivity" />
        <activity android:name=".mvp.ui.activity.PrivacyShowListActivity" />
        <activity android:name=".mvp.ui.activity.LableActivity" />
    </application>
</manifest>
