<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wang.social.im">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <meta-data
            android:name="com.wang.social.im.app.IMConfiguration"
            android:value="ConfigModule" />

        <!--  ************** IM Start ************** -->
        <!-- 【必须】消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="true"
            android:process=":QALSERVICE" />
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" />

        <!-- 【必须】 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>

            <!-- ImSDK 3.0.2 后添加 -->
            <intent-filter>
                <action android:name="com.tencent.qalsdk.service.TASK_REMOVED" />
            </intent-filter>
        </receiver>
        <!--  ************** IM End ************** -->

        <activity
            android:name=".mvp.ui.PrivateConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".mvp.ui.SocialConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".mvp.ui.TeamConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".mvp.ui.MirrorConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".mvp.ui.CreateSingleEnvelopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.CreateMultiEnvelopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.EnvelopDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.SocialHomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.TeamHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.ShadowSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.CreateSocialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.SocialAttributeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.CreateTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.TeamAttributeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.SocialListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.PhoneBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.MemberListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.SocialChargeSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.TeamChargeSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.NewUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.SocialLimitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.InviteFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.AlertUserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.ShareListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.PersonalCard.PersonalCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.GroupInviteDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.HappyWoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.NotifySysMsgListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.NofityFriendRequestListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.NotifyFriendRequestDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.FindChatRequestListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.GroupConversationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.NotifyFunChatRequestListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.NotifyZanListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.NotifyEvaListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.NotifyAiteListActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>