<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wang.social.im">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:label="@string/im_app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="com.wang.social.im.app.IMConfiguration"
            android:value="ConfigModule" />

        <!--  ************** IM Start ************** -->
        <!-- 【必须】消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="true"
            android:process=":QALSERVICE" />
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" />

        <!-- 【必须】 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>

            <!-- ImSDK 3.0.2 后添加 -->
            <intent-filter>
                <action android:name="com.tencent.qalsdk.service.TASK_REMOVED" />
            </intent-filter>
        </receiver>
        <!--  ************** IM End ************** -->

        <activity
            android:name=".mvp.ui.PrivateConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".mvp.ui.SocialConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".mvp.ui.TeamConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".mvp.ui.CreateSingleEnvelopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.CreateMultiEnvelopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.EnvelopDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.ui.SearchActivity" />
        <activity android:name=".mvp.ui.NotifySysMsgListActivity" />
        <activity android:name=".mvp.ui.NofityFriendRequestListActivity" />
        <activity android:name=".mvp.ui.NotifyFriendRequestDetailActivity" />
        <activity android:name=".mvp.ui.FindChatRequestListActivity" />
        <activity android:name=".mvp.ui.NotifyFunChatRequestListActivity" />
        <activity android:name=".mvp.ui.NotifyZanListActivity" />
        <activity android:name=".mvp.ui.NotifyEvaListActivity" />
        <activity android:name=".mvp.ui.NotifyAiteListActivity" />
    </application>
</manifest>