<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wang.social">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/common_AppTheme"
        tools:replace="android:name,android:label">

        <!-- Meta Data -->
        <meta-data
            android:name="com.wang.social.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="591bac697f2c7466b000010c" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- ********* -->

        <!--启动页（广告页）-->
        <activity
            android:name=".mvp.ui.activity.LoadupActivity"
            android:theme="@style/activity_theme_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.dongdongkeji.wangwangsocial"
                    android:path="/wangwang"
                    android:scheme="wang" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:screenOrientation="portrait" />
        <!--首页-->
        <activity
            android:name=".mvp.ui.activity.HomeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.ui.activity.SearchActivity" />

        <activity android:name=".mvp.ui.activity.BillBoardActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
