<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wang.social.login">

    <application
        android:allowBackup="true"
        android:label="@string/login_app_name"
        android:supportsRtl="true"
        tools:replace="android:label">

        <activity android:name=".mvp.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>

        <activity android:name=".mvp.ui.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".mvp.ui.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".mvp.ui.VerifyPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible">
        </activity>
        <activity android:name=".mvp.ui.UserProtocolActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".mvp.ui.TagSelectionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".mvp.ui.BindPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
    </application>
</manifest>