<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frame.component.service">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/common_AppTheme">
        <activity android:name="com.frame.component.ui.acticity.WebActivity" />
    </application>
</manifest>
