<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frame.component.service">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!--解决7.0 file://URI 协议在应用间废弃的问题，通过FileProvider途径进行文件共享-->
        <!--<provider
            android:name="com.frame.component.provider.PhotoProvider"
            android:authorities="com.ins.ww.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>-->

        <activity android:name="com.frame.component.ui.acticity.WebActivity" />
        <activity android:name="com.frame.component.ui.acticity.BGMList.BGMListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.frame.component.ui.acticity.tags.TagSelectionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.frame.component.ui.acticity.PersonalCard.PersonalCardActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
