<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wang.social.funpoint">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.frame.base.BaseApplication"
        android:allowBackup="true">

        <meta-data
            android:name="com.wang.social.funpoint.app.FunpointGlobalConfiguration"
            android:value="ConfigModule" />

        <activity android:name=".mvp.ui.activity.SearchActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>