<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wang.social.funshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.frame.base.BaseApplication"
        android:allowBackup="true"
        android:label="@string/funshow_app_name"
        android:screenOrientation="portrait"
        android:theme="@style/common_AppTheme"
        tools:replace="android:label">

        <!-- Meta Data -->
        <meta-data
            android:name="com.wang.social.funshow.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <meta-data
            android:name="com.wang.social.funshow.app.FunshowGlobalConfiguration"
            android:value="ConfigModule" />

        <activity android:name="com.wang.social.funshow.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mvp.ui.activity.HotUserListActivity" />
        <activity android:name=".mvp.ui.activity.ZanUserListActivity" />
        <activity android:name=".mvp.ui.activity.AiteUserListActivity" />
        <activity android:name=".mvp.ui.activity.FunshowDetailActivity" />
        <activity android:name=".mvp.ui.activity.FunshowAddActivity" />
        <activity android:name=".mvp.ui.activity.LockActivity" />

    </application>

</manifest>